{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<html lang="en" class="no-js theme--custom">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta property="description" content="The mission of MIT is to advance knowledge and educate students in science, technology and other areas of scholarship that will best serve the nation and the world in the 21st century." />
    <meta property="og:site_name" content="Massachusetts Institute of Technology" />
    <meta property="og:site" content="http://onemit.mit.edu" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Massachusetts Institute of Technology (MIT)" />
    <meta property="og:url" content="http://onemit.mit.edu" />
    <meta property="og:description" content="The mission of MIT is to advance knowledge and educate students in science, technology and other areas of scholarship that will best serve the nation and the world in the 21st century." />
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/css/main.css" media="all" />
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/themes/mit/assets/css/ie-7-8.css?peuqxh" media="all" />
    <![endif]-->
    <style>.theme--custom{--primary-spot:58,109,255;--primary-text:0,0,0;--primary-bg:255,255,255;--primary-bg--alt:255,255,255;--secondary-spot:95,152,255;--secondary-text:255,255,255;--secondary-bg:0,0,0;--search-spot:95,152,255;--search-text:255,255,255;--search-bg:0,0,0;}</style>
</head>

<body class="front homepage spotlight">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <nav class="site-nav">
        <div class="site-nav__width">
            <a class="site-nav__logo-link" href="/">
                <svg width="85" viewBox="0 0 73 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="mit-logo site-nav__logo">
                    <polygon class="logo-color--primary" points="52.785 8.063 72.785 8.063 72.785 0.063 52.785 0.063"></polygon>
                    <polygon class="logo-color--primary" points="13.785 26.063 21.785 26.063 21.785 0.063 13.785 0.063"></polygon>
                    <polygon class="logo-color--primary" points="26.785 38.063 34.785 38.063 34.785 0.063 26.785 0.063"></polygon>
                    <polygon class="logo-color--primary" points="0.785 38.063 8.785 38.063 8.785 0.063 0.785 0.063"></polygon>
                    <polygon class="logo-color--primary" points="52.785 38.063 60.785 38.063 60.785 13.063 52.785 13.063"></polygon>
                    <polygon class="logo-color--primary" points="39.785 8.063 47.785 8.063 47.785 0.063 39.785 0.063"></polygon>
                    <polygon class="logo-color--secondary" points="40 38 48 38 48 13 40 13"></polygon>
                </svg>      <h1 class="visually-hidden">Massachusetts Institute of Technology</h1>
            </a>
            <ul class="site-nav__links">
                <li class="site-nav__link-item">
                    <a href="/community" class="site-nav__link js-nav-item" data-drupal-link-system-path="node/14">Community</a>
                </li>
                <li class="site-nav__link-item menu-item--collapsed">
                    <a href="/process" class="site-nav__link js-nav-item menu-item--collapsed" data-drupal-link-system-path="node/12">Process</a>
                </li>
                <li class="site-nav__link-item">
                    <a href="/team" class="site-nav__link js-nav-item" data-drupal-link-system-path="node/13">Team</a>
                </li>
                <li class="site-nav__link-item site-nav__link-item--more">
                    <span class="site-nav__link">More <span class="site-nav__arrow">↓</span></span>
                    <ul class="site-nav__more-list js-nav-more">
                        <li class="site-nav__link-item menu-item--collapsed">
                            <a href="/process" class="site-nav__link js-nav-item menu-item--collapsed" data-drupal-link-system-path="node/12">Process</a>
                        </li>
                        <li class="site-nav__more-link-item">
                            <a href="/team" class="site-nav__link js-nav-item" data-drupal-link-system-path="node/13">Team</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="site-nav__buttons">
                <!--             <svg class="icon--search-mag site-nav__search-mag" width="26"
  viewBox="0 0 23 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke="currentColor" stroke-width="1.5" class="icon--search-mag">
    <g stroke="currentColor" stroke-width="1.5" fill="none">
      <circle cx="9.20757329" cy="8.99160695" r="8.50646589"></circle> -->
      <button class="site-nav__mobile-trigger js-mobile-nav-trigger"><span class="js-mobile-nav-trigger-text">Menu</span> <span class="site-nav__arrow js-mobile-nav-trigger-arrow">↓</span></button>
                <!-- <path d="M14.8522097,14.6362434 L20.7140392,20.4980728" id="Line-4"></path> -->
                </g>
                </svg>
            </div>
    </nav>
    
    <main class="primary-container">
        <div class="tab">
            <div class="paragraph first">
                <p> Many generations, one community </p>
            </div>

            <div class="paragraph">
                <p> MIT’s Great Dome has come to symbolize our community of faculty, students, staff, and alumni. Now these individuals have lent their names to embody the Great Dome. </p>
            </div>

            <div class="paragraph">
                <p> The image in this exhibit incorporates the names of every member of the MIT community from our founding in 1861 until the first semester of 2018—more than 270,000 individuals in all! The carefully arranged names have been etched into the surface of the wafer, with each letter functioning like a light or dark pixel. The result: generation after generation coming together to represent the shared history, character, and sense of purpose that unites us. </p>
            </div>

            <div class="paragraph">
                <p> We call the project “One.MIT.” It’s an apt name for an exhibit in MIT.nano, which serves every department and any researcher who needs its tools. Use this website to search for a name and its location on the wafer. </p>
            </div>
        </div>
    </main>
    </div>
    </nav>
</body>
<footer class="site-footer">
    <div class="site-footer__utility-mod">
        <p class="site-footer__name">
            Massachusetts Institute of Technology
        </p>
        <div class="site-footer__contact-info">
            <a href="https://www.google.com/maps/place/Massachusetts+Institute+of+Technology/@42.360091,-71.09416,15z/data=!4m5!3m4!1s0x0:0xd0e08ea5b308203c!8m2!3d42.360091!4d-71.09416" target="_blank" class="site-footer__contact-info-link">77 Massachusetts Avenue, Cambridge, MA, USA</a>
        </div>
    </div>
</footer>
<script src="/static/js/modernizr.js?"></script>
<!--[if gt IE 8]><!-->
<script src="/static/js/main.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/themes/mit/assets/js/ie-7-8.js?peuqxh"></script>
<![endif]-->

</html>